/* ---------------------- 
Stylesheet Guide
-------------------------

*/

/* ================= GOOGLE FONT ================== */

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Merriweather:400,400i,700,700i&subset=latin-ext');

/* ================= GENERAL STYLES ================== */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-weight: 400;
    color: #444;
    font-family: 'Merriweather', Georgia, serif;
    line-height: 1.88;
    font-size: 1rem;
    background-color: #ffffff;
    font-variant-ligatures: no-common-ligatures;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}


.card-footer,
.card-horizontal-meta,
.card-date,
.badge,
.card-category,
.eskimo-menu-ul,
.eskimo-page-title-meta,
#eskimo-sidebar .eskimo-logo-link,
.btn,
input,
button,
.eskimo_fn,
.eskimo_comment_links,



.eskimo-pager,
.eskimo-page-links,
.eskimo-top-icons li a span,
.eskimo-categories ul li span {
    font-family: "Helvetica", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.card-title {
    font-family: "Merriweather Sans", "Helvetica", Arial, sans-serif;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
}

h1,
.h1 {
    font-size: 3rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.6rem;
}

h5,
.h5 {
    font-size: 1.45rem;
}

h6,
.h6 {
    font-size: 1.3rem;
}

.lead {
    font-size: 1.3rem;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.widget {
    font-size: 1rem;
}

a {
    color: #51cbce;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

a:hover,
a:focus {
    color: #2ba9cd;
    text-decoration: none;
}

.icon {
    fill: #66615b;
}

.navbar-toggle {
    outline: 0 !important;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0;
}



img {
    max-width: 100%;
    height: auto;
    color: transparent;
}

dl,
ol,
ul {
    margin-bottom: 2rem;
}

dd {
    margin-bottom: 1rem;
}






.eskimo-add-shadow {
    -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
}

.eskimo-img-shadow {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.eskimo-add-border {
    border: 1px solid #e5e5e5;
    padding: 2rem 2rem 2rem 2rem;
}

.eskimo-title-with-border {
    border-bottom: 3px solid rgba(0, 0, 0, 0.02);
}

.eskimo-title-with-border span {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.eskimo-title-with-border span:after {
    content: "";
    height: 3px;
    width: 100%;
    background: #51cbce;
    left: 0;
    bottom: -3px;
    position: absolute;
    z-index: 2;
}

.eskimo-bg-loader {
    min-height: 200px;
}

.eskimo-bg-loader:before {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-animation: eskimo-bg-loader 1s linear infinite;
    animation: eskimo-bg-loader 1s linear infinite;
    z-index: 9999999999;
    content: "";
    border-top-color: #333;
}

@-webkit-keyframes eskimo-bg-loader {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes eskimo-bg-loader {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}




/* ================= READING POSITION INDICATOR ================== */

progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #51cbce;
    z-index: 9999;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: #51cbce;
}

progress::-moz-progress-bar {
    background-color: #51cbce;
}

.eskimo-progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    display: block;
}

.eskimo-progress-bar {
    background-color: #51cbce;
    width: 50%;
    display: block;
    height: inherit;
}

/* ================= PROGRESS BARS ================== */

.progress {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: none;
    height: 30px;
    margin-top: 1rem;
    font-size: 0.875rem;
}

.progress-bar {
    position: relative;
    text-align: right;
    padding-right: 0.5rem;
}

.progress-bar span {
    position: absolute;
    left: 0.5rem;
    top: 0rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}

.progress-bar-striped {
    background-size: 2rem 2rem;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 2rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 2rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress-bar,
.progress-bar-primary {
    background-color: #51cbce;
}

.progress-bar-info {
    background-color: #51bcda;
}

.progress-bar-success {
    background-color: #6bd098;
}

.progress-bar-warning {
    background-color: #fbc658;
}

.progress-bar-danger {
    background-color: #f5593d;
}


/* ================= TABS ================== */

.nav-tabs {
    font-weight: normal;
}

.nav-tabs .nav-link {
    color: inherit;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.15rem;
    font-weight: 700;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    color: #222
}

.nav-tabs .nav-link.active {
    background-color: #fff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: transparent;
}

.tab-content {
    padding: 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;
}

.tab-content p:last-child {
    margin: 0;
}

/* ================= SIDEBAR ================== */

#eskimo-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .2);
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    z-index: 99;
    width: 310px;
    background-color: #fff;
}

#eskimo-sidebar .eskimo-logo-link {
    display: block;
    padding: 60px 40px;
    font-size: 3rem;
    color: #333;
    font-weight: 700;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

#eskimo-sidebar .eskimo-logo {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    max-width: 230px;
}

/* ================= MAIN MENU ================== */

#eskimo-menu-toggle {
    display: none;
    position: relative;
    margin: 0;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 1.45rem;
    font-weight: 700;
    cursor: pointer;
}

#eskimo-menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    position: absolute;
    top: 20px;
    right: 40px;
    font-weight: normal;
}

.eskimo-menu-ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.4;
}

.eskimo-menu-ul li {
    margin: 0;
    padding: 20px 40px;
    display: block;
    width: 100%;
}

.eskimo-menu-ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.eskimo-menu-ul > li > a {
    padding: 0 1em 0 0;
}

.eskimo-menu-ul li a {
    position: relative;
    display: block;
    outline: none;
    text-decoration: none;
    color: #333;
    padding: 0;
}

.eskimo-menu-ul li a:hover,
.eskimo-menu-ul li a.eskimo-menu-up {
    outline: none;
    color: #51cbce;
}

.eskimo-menu-ul > li > ul {
    display: none;
    margin: 20px 0px 0.5rem 0px;
    padding: 0;
    list-style: none;
}

.eskimo-menu-ul > li > ul > li > ul,
.eskimo-menu-ul > li > ul > li > ul > li > ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0.75rem;
    list-style: none;
}

.eskimo-menu-ul ul li {
    position: relative;
    font-size: 1rem;
    padding: 1rem 0 0 0;
    text-transform: none;
    line-height: 1;
    font-weight: 400;
}

.eskimo-menu-ul > li > ul > li:first-of-type {
    padding-top: 0
}

.eskimo-menu-ul > li > a:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 0.8em;
    height: 3px;
    transform-origin: 50% 50%;
    transition: all 0.2s linear;
    background: #ddd;
    right: 0px;
    z-index: 2;
    margin-top: -1px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.eskimo-menu-ul > li > a:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0.8em;
    height: 3px;
    background: #ddd;
    transform-origin: 50% 50%;
    right: 0px;
    z-index: 1;
    transition: all 0.2s linear;
    margin-top: -1px;
    transform: rotate(0deg);
}

.eskimo-menu-ul > li > a:hover:after {
    background: #51cbce;
    transform: rotate(90deg);
}

.eskimo-menu-ul > li > a:hover:before {
    background: #51cbce;
    transform: rotate(180deg);
}

.eskimo-menu-ul > li > a.eskimo-menu-up:before {
    transform: rotate(-45deg);
    background: #51cbce;
}

.eskimo-menu-ul > li > a.eskimo-menu-up:after {
    transform: rotate(45deg);
    background: #51cbce;
}

.eskimo-menu-ul > li > a:not([class]):before,
.eskimo-menu-ul > li > a:not([class]):after {
    display: none;
}

.eskimo-menu-ul > li > ul > li a {
    position: relative;
}

.eskimo-menu-ul > li > ul > li a:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 6px;
    width: 6px;
    background: #ddd;
    right: 5px;
    border-radius: 100%;
    margin-top: -3px;
    z-index: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.1s ease-in-out;
}

.eskimo-menu-ul > li > ul > li a:hover:before {
    background: #51cbce;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}



/* ================= PAGE STRUCTURE ================== */

#eskimo-site-wrapper {
    position: relative;
    padding-left: 310px;
    margin: 0;
    background-color: #fff;
}

#eskimo-main-container {
    position: relative;
    display: block;
    padding: 100px 95px;

}

.eskimo-page-title {
    margin-bottom: 60px;
    background:#333;
    padding:3rem 0 3rem 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.eskimo-page-title h1 {
    position: relative;
    display: block;
    margin: 0px;
    text-transform: uppercase;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    color:#fff;
}

.eskimo-page-title span {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.eskimo-page-title span small {
    font-size: 1rem;
    display: block;
    font-weight: 700;
}

.eskimo-page-title span:after {
    content: "";
    height: 4px;
    width: 100%;
    background: #51cbce;
    left: 0;
    bottom: -4px;
    position: absolute;
    z-index: 2;
}

.eskimo-page-title.eskimo-author-title span {
    padding-right: 80px
}

.eskimo-page-title img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.eskimo-page-subtitle {
    font-weight: 700;
    line-height: 1.5;
    display: block;
    margin: 15px 0 0 0;
    font-size: 1.45rem;
    font-family: inherit;
    font-style: italic;
    color:#fff;
}

.eskimo-page-title-meta {
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    display: block;
    margin-top: 15px;
}

.eskimo-page-title-meta div {
    display: inline-block;
}

.eskimo-page-title-meta a,.eskimo-page-title-meta {
    color: #fff;
}

.eskimo-page-title-meta a:hover {
    color: #51cbce;
}

.eskimo-author-meta:after,
.eskimo-cat-meta:after,
.eskimo-date-meta:after {
    content: "/";
    opacity: 0.1;
    padding: 0 0.1rem;
}

.eskimo-meta-tags {
    display: block;
    margin: 40px 0 0 0;
}

.eskimo-meta-tags .badge {
    margin-right: 5px;
    font-size: 0.875rem;
}

.eskimo-page-content {
    font-size: 1.15rem;
}

.eskimo-featured-img {
    margin-bottom: 60px;
}

.eskimo-featured-img img {
    max-width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.eskimo-search-page-form {
    margin-bottom: 60px;
}


/* ================= CAROUSEL ================== */



/* ================= MEDIA QUERIES ================== */

@media only screen and (max-width: 1399px) {
    .card-horizontal-left,
    .card-body {
        padding: 2rem;
    }
    .card .card-footer {
        padding: 1.5rem 2rem;
    }
    .card-small .card-footer {
        padding: 1.5rem;
    }
    .eskimo-top-icons {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        float: right;
        margin-bottom: 40px;
        border:none;
    }
    .eskimo-top-icons li {
        display: inline-block;
        border-left:1px solid rgba(255,255,255,0.1);
        margin:0;
        width:50px;
        height: 50px;
        float: left;
        line-height: 50px;
        font-size:16px;
    }
    .eskimo-top-icons li:last-of-type{
        border:none;
    }
    #eskimo-sidebar .eskimo-logo-link {
        padding: 40px;
    }
    #eskimo-main-container {
        padding: 60px 45px;
    }
    #eskimo-footer {
        padding: 0 45px;
    }
    #eskimo-gototop {
        display: none;
    }
    .eskimo-top-icons li {
        float: right;
    }
    .eskimo-masonry-grid {
        margin: 0px -20px;
    }

    .eskimo-masonry-grid .card-masonry {
        padding: 0px 20px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-height: 700px) {
    #eskimo-sidebar .eskimo-logo-link {
        padding: 40px;
    }
    .eskimo-menu-ul li {
        padding: 15px 40px;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 15px;
    }
    #eskimo-sidebar {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 100%;
        height: 100%;
        margin-bottom: 60px;
    }
    #eskimo-site-wrapper {
        padding-left: 0px;
    }
    #eskimo-menu-toggle {
        display: block;
    }
    #eskimo-social-cell,
    #eskimo-main-menu {
        display: none;
    }
    .eskimo-menu-ul ul li {
        padding: 1rem 0 0 0;
    }
    .eskimo-social-icons li a {
        height:50px;
        line-height: 50px;
    }
    #eskimo-social-inner {
        padding: 25px 40px;
    }
    .eskimo-social-icons {
        float:right;
        padding-left:25px;
    }
    .eskimo-page-title {
        padding:2.5rem !important;
        margin-left:0px !important;
        margin-right:0px !important;
    }
}

@media only screen and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 2.15rem;
    }

    h2,
    .h2 {
        font-size: 1.9rem;
    }
    #eskimo-main-container {
        padding: 60px 0px;
    }
    .card-horizontal .card-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-horizontal-left,
    .card-horizontal-right {
        display: block;
        width: 100%;
    }
    .card-horizontal-left {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .card-horizontal-right {
        height: 400px
    }
    .eskimo-page-title.eskimo-author-title span {
        padding-left: 75px
    }
    .eskimo-page-title img {
        width: 60px;
        height: 60px;
    }
    .eskimo-footer-wrapper {
        padding: 60px 0px;
    }
    .eskimo-slider-desc {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        width: 100%;
    }
    .eskimo-slider-desc-inner:before {
        display: none;
    }
    .eskimo-slider-desc-inner {
        padding: 2rem;
    }
    .slick-slide .eskimo-slider-desc,
    .slick-slide .eskimo-slider-image-meta {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        opacity: 1;
    }
    .eskimo-slider-desc p,
    .eskimo-slider-desc .card-title {
        white-space: normal;
        text-overflow: unset;
        overflow: hidden;
    }
    .eskimo-slider-desc .card-title {
        margin-bottom: 1rem;
    }
    .eskimo-slider-desc p {
        font-size: 1rem;
    }
    .eskimo-page-title,.card.card-horizontal {
        margin-bottom:40px
    }
    .eskimo-slider {
        margin-bottom:60px
    }
}


@media only screen and (max-width: 767px) {
    .card-horizontal-right {
        height: 300px;
    }
    .eskimo-post-nav-link {
        padding: 20px;
    }
    .tab-content {
        padding: 2rem;
    }
    hr.section-divider {
        margin-top:60px;
        margin-bottom: 60px
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 14px;
    }
    blockquote {
        margin: 2rem 0;
        font-size: 100%;
    }
    #eskimo-sidebar {
        margin-bottom: 40px;
    }
    .card-horizontal-right {
        height: 250px
    }
    #eskimo-main-container {
        padding: 40px 0px;
    }
    #eskimo-footer {
        padding: 0px;
    }
    .eskimo-post-nav-link {
        display: none;
    }
    .eskimo-post-nav-table > .eskimo-post-nav {
        width: 100%;
        height: 50px;
    }
    .eskimo-post-nav-wrapper {
        margin-top: 40px;
    }
    .eskimo-post-nav-left-row {
        border: none;
    }
    .eskimo_commentlist .eskimo_comment_wrapper > .eskimo_comment_wrapper .eskimo_comment {
        padding-left: 0px;
    }
    .eskimo_commentlist .eskimo_comment_wrapper > .eskimo_comment_wrapper:before {
        display: none;
    }
    .eskimo-panel-inner {
        padding: 80px 40px;
    }
    .eskimo-panel-inner .eskimo-panel-close {
        right: 40px;
    }
    .nav-tabs .nav-item {
        width: 100%;
        border: none !important;
    }
    .nav-tabs .nav-item a {
        border: none !important;
    }
    .nav-tabs,
    .nav-tabs .nav-link.active {
        background: rgba(0, 0, 0, 0.05) !important;
    }
    .tab-content {
        padding: 20px;
    }
    #eskimo-main-container {
        padding: 15px 0px 40px 0px;
    }
    .eskimo-masonry-grid .card-masonry,
    .card.card-horizontal {
        margin-bottom: 40px;
    }
    #eskimo-share-buttons {
        margin-top: 35px;
    }
    hr {
        margin-top: 40px;
        margin-bottom: 35px;
    }
    .eskimo_comment_left {
        display: none;
    }
    .eskimo_comment_right_inner {
        padding: 0;
    }
    .eskimo-page-title {
        padding:2rem !important;
    }
    #eskimo-menu-toggle {
        padding: 20px;
    }
    #eskimo-menu-toggle:after {
        right: 20px;
    }
    .eskimo-menu-ul li {
        padding: 20px;
    }
    #eskimo-social-inner {
        padding: 20px;
    }
    .eskimo-slider .slick-prev,
    .eskimo-slider .slick-next {
        top: 10px;
    }
    .eskimo-slider .slick-prev,
    .eskimo-slider .slick-next {
        width: 30px;
        height: 30px;
    }
    .eskimo-slider .slick-prev:before,
    .eskimo-slider .slick-next:before {
        font-size: 16px;
    }
    .eskimo-slider .slick-next {
        right: 10px;
    }
    .eskimo-slider .slick-prev {
        left: auto;
        right: 40px;
    }
    .eskimo-slider-image-meta {
        left: 10px;
        top: 10px;
    }
    .eskimo-slider-image-meta li .badge {
        font-size: 0.875rem;
    }
    .eskimo-view-more .btn {
        width: 100%;
    }
    .eskimo-carousel {
        padding: 50px 0px 0px 0px;
    }
    .mp-accordion-title,
    .mp-accordion-content {
        padding: 20px !important;
    }
    .mp-accordion-title:after {
        right: 20px !important;
    }
    .eskimo-footer-wrapper {
        padding: 40px 0px;
    }
}